config SND_SOC_YAMAHA_YMU831
	tristate
	depends on SND_SOC && I2C
	select SND_HWDEP

config SND_SOC_YAMAHA_YMU831_DEBUG
	bool "YAMAHA_YMU831 verbose debug messages while core driver call"
	select SND_DEBUG
	depends on SND_SOC_YAMAHA_YMU831
