[project]
	state = active
[access "refs/heads/*"]
	create = group samsung exynos
	create = group sbrissen
	label-Code-Review = -2..+2 group samsung exynos
	label-Code-Review = -2..+2 group sbrissen
	label-Verified = -1..+1 group samsung exynos
	label-Verified = -1..+1 group sbrissen
	submit = group samsung exynos
	submit = group sbrissen
	owner = group Administrators
	push = +force group samsung exynos
	push = +force group sbrissen
[access "refs/heads/cm-10.1-experimental"]
	create = group samsung exynos
	forgeCommitter = group samsung exynos
	push = +force group samsung exynos
	label-Code-Review = -2..+2 group samsung exynos
	label-Verified = -1..+1 group samsung exynos
	submit = group samsung exynos
	owner = group Administrators
