[project]
	state = active
[access "refs/heads/*"]
	create = group SGS Administrators
	forgeAuthor = group SGS Administrators
	forgeCommitter = group SGS Administrators
	push = group SGS Administrators
	pushMerge = group SGS Administrators
	label-Code-Review = -2..+2 group SGS Administrators
	label-Verified = -1..+1 group SGS Administrators
	submit = group SGS Administrators
