[project]
[access "refs/heads/*"]
	create = group samsung_exynos
	create = group sbrissen
	label-Code-Review = -2..+2 group samsung_exynos
	label-Code-Review = -2..+2 group sbrissen
	label-Verified = -1..+1 group samsung_exynos
	label-Verified = -1..+1 group sbrissen
	submit = group samsung_exynos
	submit = group sbrissen
	owner = group Administrators
	push = +force group samsung_exynos
	push = +force group sbrissen
	forgeAuthor = group sbrissen
	forgeCommitter = group samsung_exynos
	forgeCommitter = group sbrissen
[submit]
	action = rebase if necessary
