#
# Sensor  drivers configuration
#
menuconfig SENSORS_CORE
	bool "Sensor devices"
	help
	  Say Y here, and a list of sensors drivers will be displayed.
	  Everything that didn't fit into the other categories is here. This option
	  doesn't affect the kernel.

	  If unsure, say Y.

if SENSORS_CORE
config SENSORS_AK8975C
	tristate "AK8975 compass support"
	default n
	depends on I2C
	help
	  If you say yes here you get support for Asahi Kasei's
	  orientation sensor AK8975.

config SENSORS_AK8963C
	tristate "AK8963 compass support"
	default n
	depends on I2C
	help
	  If you say yes here you get support for Asahi Kasei's
	  orientation sensor AK8963.

config SENSORS_BMP180
	depends on I2C && SYSFS
	tristate "BMP180 digital pressure sensor"
	default n
	help
	  If you say yes here you get support for the Bosch Sensortec
	  BMP180 digital pressure sensor.
	  To compile this driver as a module, choose M here: the
	  module will be called bmp180.

config SENSORS_CM3663
	depends on I2C
	tristate "CM3663 ambient light and proximity input device"
	default n
	help
	  This option enables proximity & light sensors using cm3663 driver.

config SENSORS_PAS2M110
	depends on I2C && GENERIC_GPIO
	tristate "PAS2M110 ambient light and proximity input device"
	default n

config SENSORS_BMA254
	tristate "BMA254 Acceleration Sensor Driver"
	depends on I2C
	default n
	help
	  If you say yes here you get support for Bosch-Sensortec's
	  BMA254 Acceleration Sensor.

config SENSORS_TAOS
	depends on I2C
	tristate "TAOS driver"
	default n
	help
	  If you say yes here you get support for TAOS's
	  TMD27723 proximity & light sensor using taos driver.

config SENSORS_GP2A
	depends on I2C
	tristate "GP2AP020A00F driver"
	default n
	help
	  This option enables proximity & light sensors using gp2ap020a00f driver.

config SENSORS_GP2A_ANALOG
	depends on I2C
	tristate "GP2A analog driver"
	default n
	help
	  This option enables proximity & light sensors using analog gp2a driver.

config SENSORS_CM36651
	depends on I2C
	tristate "CM36651 driver"
	default n
	help
	  Say Y here if you use cm36651.
	  This option enables proximity & RGB sensors using
	  Capella cm36651 device driver.

	  Say N here if you do not use cm36651.

config SENSORS_BH1721
	depends on I2C
	tristate "BH1721 driver"
	default n
	help
	  Say Y here if you use BH1721.
	  This option enables light sensor using
	  ROHM BH1721 device driver.

	  Say N here if you do not use BH1721.

config SENSORS_AL3201
	depends on I2C
	tristate "AL3201 driver"
	default n
	help
	  Say Y here if you use AL3201.
	  This option enables light sensor using
	  ROHM AL3201 device driver.

	  Say N here if you do not use AL3201.

config SENSORS_K2DH
	tristate "K2DH acceleration sensor support"
	depends on I2C
        default n
	help
	  Say Y here if you use K2DH.
	  This option enables accelerometer sensors using
	  STM K2DH in K2DH device driver.

	  Say N here if you do not use K2DH.

config SENSORS_K3DH
	tristate "K3DH acceleration sensor support"
	depends on I2C
        default n
	help
	  Driver for STMicroelectronic K3DH accelerometer.

config SENSOR_K3DH_INPUTDEV
	bool "K3DH acceleration sensor input dev support"
	depends on SENSORS_K3DH
        default n
	help
	  Say Y here if you use K3DH.
	  This option enables accelerometer sensor using
	  K3DH device driver.

	  Say N here if you do not use K3DH.

config SENSORS_K3G
	tristate "K3G driver for s5pc210"
	depends on I2C
	default n
	help
	  This option enables gyro sensors using K3G driver.

config SENSORS_LSM330DLC
	depends on I2C
	tristate "STMicro LSM330DLC driver"
	default n
	help
	  Driver for STMicro LSM330DLC

config SENSORS_LPS331
	tristate "STMicro LPS331 driver"
	default n
	depends on I2C
	help
	  Driver for STMicro LPS331

config SENSORS_YAS532
	depends on I2C
	tristate "yas532 Sensor Support"
	default n
	help
	  Say Y to enable YAS532 Magnetic Sensor support.
	  This allows control of supported Magnetic Sensor.

config SENSORS_YAS_ORI
	depends on I2C
	tristate "yas orientation Sensor Support"
	default n
	help
	  Say Y to enable YAS532 Magnetic Sensor support.
	  This allows control of supported Magnetic Sensor.

config INPUT_YAS_MAGNETOMETER_POSITION
         int "YAS Geomagnetic Sensor Mounting Position on Board"
         depends on I2C
         default "0"
         help
           Chip mounting position (pin 1).
              0: top, upper-left
              1: top, upper-right
              2: top, lower-right
              3: top, lower-left
              4: bottom, upper-left
              5: bottom, upper-right
              6: bottom, lower-right
              7: bottom, lower-left

endif
