#
# USB Host notify configuration
#

config USB_HOST_NOTIFY
	boolean "USB Host notify Driver"
	depends on USB
	help
	  Android framework needs uevents for usb host operation.
	  Host notify Driver serves uevent format
	  that is used by usb host or otg.