config ISDBT
	bool "isdbt"

choice
	depends on ISDBT
	prompt "isdbt one-seg driver"
	default ISDBT_FC8150

	config ISDBT_FC8150
		bool "ISDBT_FC8150"

	config ISDBT_FC8100
		bool "ISDBT_FC8100"
endchoice
